* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Source Code Pro", monospace;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

/* body,
html {
	overflow-x: hidden;
} */

:root {
	--bg-color: #2a2a2a;
	--second-bg-color: #202020;
	--text-color: #fff;
	--second-color: #ccc;
	--main-color: #ff4d05;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;

body{
	background: var(--bg-color);
	color: var(--text-color);
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	transition: all 0.45s ease;
}

.navbar {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	color: rgb(203, 215, 227);
}

.nav-links {
	display: flex;
	align-items: center;
	color: #edffec;
}

.nav-links li {
	margin: 0 30px;
	color: #dde7dc;
	align-items: center;
}

.nav-links li a {
	color: black;
	font-weight: bold;
}
.nav-links li :hover {
	color: white;
}